<html>

<body>
    <p>
        Hi [NICKNAME]!
    </p>
    <p>
        We just transferred [MONTHPROFIT] to your account which is the profit from [MONTH-YEAR]
    </p>

    <p>
        This means that from your total investment of [TOTALINVEST] we have paid you [TOTALPROFIT].
    </p>
    <p style="margin-bottom: 0;">
        You can look at the attached PDF file if you would like to see your portfolio.
    </p>
    <p style="margin-top: 0;">
        Or you can go to this link...
    </p>

    <p>
        <b>
            <a href="[INVESTORSPAGE]">[INVESTORSPAGE]
            </a>
        </b>
    </p>

    <p style="margin-bottom: 0;">
        We hope you have a nice day with sunshine like we have here in Thailand.
    </p>
    <p>
        <img src="https://sunnythailand.com/img/property/lb2-513/poolroof04.jpg" width="400px" />
    </p>

    <p style="text-decoration: underline;">
        <b>
            NEWS FROM ADAM AND TORBEN
        </b>
    </p>

    <p>
        Something very cool happened in USA today. The government voted to allow bitcoin to be part of ETF (Exchange
        Traded Funds). So now much more people will be able to invest in Bitcoin thru their banks
    </p>

    <p style="margin-top: 10px;">
        <b>
            <a href="#">https://www.cnbc.com/2024/01/12/bitcoins-post-etf-launch-sell-off-could-continue-but-all-time-high-levels-are-in-sight-chart-analysts-say.html
            </a>
        </b>
    </p>

    <p>
        Keep investing!
    </p>
    <div style="margin-top: 40px; padding-bottom: 40px;">

        <div>
            <span style="font-family:Arial,sans-serif">Email:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            <a href="mailto:torben@rudgaard.com" title="Send an email to torben@rudgaard.com"
                style="font-family:Arial,sans-serif;color:blue" target="_blank">torben@rudgaard.com</a>
        </div>

        <div>
            <span style="font-family:Arial,sans-serif">Facebook:&nbsp;&nbsp;</span>
            <span style="font-family:Calibri,sans-serif">
                <span style="font-size:14.6667px">
                    <a href="https://www.facebook.com/rudgaard" title="Click to open in a new window or tab
                    https://www.facebook.com/rudgaard" style="color:blue"
                        target="_blank">https://www.<wbr>facebook.com/rudgaard</a>&nbsp;
                </span>
            </span>
        </div>

        <div>
            <span style="font-family:Calibri,sans-serif">
                <span style="font-size:14.6667px">Mobile:&nbsp; &nbsp; &nbsp; &nbsp;+66 89 821 0724
                </span>
            </span>
        </div>

        <div>
            <span style="font-family:Calibri,sans-serif">
                <span style="font-size:14.6667px">Line:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;torbenrudgaard</span>
            </span>
        </div>

        <div>
            <span style="font-family:Calibri,sans-serif">
                <span style="font-size:14.6667px">Addresse:&nbsp; &nbsp;&nbsp;
                    <a href="https://goo.gl/maps/XmXScgiM45vpgXu47" style="color:blue"
                        target="_blank">https://goo.gl/maps/<wbr>XmXScgiM45vpgXu47</a>
                </span>
            </span>
        </div>
    </div>
</body>

</html>